body {
  background-color: #1f2937;
  color: #f9faf8;
}
.face h1 {
  font-size: 48px;
  font-weight: bolder;
}

/* Style for the logo section */
.links {
  display: flex;
  text-decoration: none;
}
.face {
  display: flex;
}
